{% extends 'base.html.twig' %}

{% block title %}New Professor{% endblock %}

{% block body %}
    <h1>Create new Professor</h1>

    {{ include('professor/_form.html.twig') }}

    <a href="{{ path('professor_index') }}">back to list</a>
{% endblock %}
