{% extends 'base.html.twig' %}

{% block title %}New QCM{% endblock %}

{% block body %}
    <h1>Create new QCM</h1>

    {{ include('qcm/_form.html.twig') }}

    <a href="{{ path('q_c_m_index') }}">back to list</a>
{% endblock %}
